@{
    ViewData["Title"] = "Cadastrar Loja";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de uma nova Loja ou Kiosque</h1>
</div>

<div>
    <form action="VerificarCadastro" method="post">
        <label for="numero">Numero: </label>
        <input type="text" name="numero" id="numero" class="form-control" required>

        <label for="piso">Piso: </label>
            <select class="form-control" name="piso" id="piso" required>
                <option value="1">Piso 1</option>
                <option value="2">Piso 2</option>
                <option value="3">Piso 3</option>                        
            </select>

        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" class="form-control" required>

        <label for="descricao">Descricao: </label>
        <input type="text" name="descricao" id="descricao" class="form-control" required>

        <label for="categoria">Categoria: </label>
        <select name="categoria" id="categoria" class="form-control" required>
            <option value="Loja">Loja</option>
            <option value="Kiosque">Kiosque</option>
        </select>

        <label for="email">E-mail: </label>
        <input type="text" name="email" id="email" class="form-control" required>

        <button type="submit">Enviar</button>
    </form>
</div>