@{
    ViewData["Title"] = "Lista de Lojas";
}

<div class="text-center">
    <table border="1px">
        <tr>
            <td>ID</td>
            <td>32</td>
            <td>33</td>
            <td>12</td>
        </tr>
        <tr>
            <td>PISO</td>
            <td>piso 3</td>
            <td>piso 3</td>
            <td>piso 1</td>
        </tr>
        <tr>
            <td>NOME</td>
            <td>Tênis Brasil</td>
            <td>Lembranças Já</td>
            <td>Sorvetinho Gelado</td>
        </tr>
        <tr>
            <td>DESCRICAO</td>
            <td>Aqui você encontra os tênis</td>
            <td>Vem comprar sua lembrança</td>
            <td>Sorvetinho Gelado</td>
        </tr>
        <tr>
            <td>LOJA/KIOSQUE</td>
            <td>Loja</td>
            <td>Kiosque</td>
            <td>Kiosque</td>
        </tr>
        <tr>
            <td>EMAIL</td>
            <td>tenis@email.com</td>
            <td>lemb@email.com</td>
            <td>sorvet@email.com</td>
        </tr>

    </table>
</div>